.navbarContainer {
  padding: 2rem;
  background-color: var(--green30);
}

.nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
}

.active {
  color: green;
  text-decoration: underline;
  font-weight: 900;
  text-decoration: none;
}

.inactive,
.inactive:visited {
  color: blue;
  font-weight: 400;
}
